@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #FFFFFF; 
}

ul{
    list-style: none;
}

main{
    background-color: rgb(255, 255, 255);
    width: 1440px;
    height: 100%;
}

body{
    background-color: black;
}

.icon{
    width: 20px; 
    height: 20px; 
    margin: auto; 
    margin-right: 10px;
    text-align: left;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
    margin: auto; 
    background-color: #57290B;
    color: #FFFFFF;
    width: 1440px;
    height: 100px;

    justify-content: center;
    align-items: center;
    z-index: 999;
}
    
.navItens{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-evenly;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navItensSub{
    width: auto;
    height: 3px;
    background-color: #B2784A;
    border-color: #B2784A;
    border-radius: 8px;
}

.navImg{
    width: 43px;
    height: 54.86px;

    margin: auto;
    display: flex;
}

.navImgTitle{
    font-weight: lighter;
    margin-bottom: 10px;
}

.backgroundHeader{
    background-image: url(assets/Imagem\ Cafes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 99px;
    padding-top: 63px;

    color: #FFFFFF;
    height: 559px;
    width: 1440px;
    max-width: 100%;
}

h1{
    color: white;
    font-weight: 700;
    font-size: 56px;
    width:  589px;
    height: 228px;
    margin-left: 119px;
}

#h2{
    color: white;
    font-size: 24px;
    width:  514px;
    height: 66px;
    font-weight: lighter;
    margin-left: 119px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.buttonVC{
    width: 283px;
    height: 57px;
    border-radius: 8px;
    background-color: #8F542E;
    color: white;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    
    box-shadow: none;
    transition: none;
    
    display: flex;
    align-items: center;
    margin-left: 119px;
}

.button{
    width: 283px;
    height: 57px;
    border-radius: 8px;
    background-color: #8F542E;
    color: white;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    
    box-shadow: none;
    transition: none;
    
    display: flex;
    align-items: center;
}

.seta{
    width: 21.83px;
    height: 13px;
    margin-top: center;
    margin-left: -30px;
}

section h2{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

#formato-sobre{
    /* background-color: antiquewhite; */
    width: 1440px;
    display: flex;
    margin-bottom: 100px;
}

#div-texto-sobre{
    /* background-color: brown; */
    margin-top: 1px;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

mark{
    margin-top: 55px;
    margin-bottom: 15px;
    margin-left: 119px;
    width: fit-content;
    height: 28px;
    background-color: #FBC9A8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.textoSobre{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 559px;
    height: auto;
    font-weight: 400;
    font-size: 18px;
}

#img_cafes{
    width: 352px; 
    height: 340.41px; 
    border-radius: 8px; 
}

.ondaCafe{
    width: 1440px; 
    height: 199.08px; 
    display: flex;
}

.cafeteria{
    background-color: #80451F;
    margin-top: -80px;
    width: 1440px;
    height: 745px;
}

#texto-cafeteria{
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    line-height: 48px;
    text-transform: uppercase;

    text-decoration: underline;
    text-decoration-color: #B2784A;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.formato-carrossel{
    width: 1083px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 45px;
}

.ul-carrossel{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ul-carrossel .carrossel{
    user-select: none;
    background-color: rgb(255, 255, 255);
    width: 345px;
    height: 400px;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 32px;
    text-decoration: none;
}

.ul-carrossel .link-carrossel .tituloCarrossel{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
    text-transform: capitalize;
}


.ul-carrossel .link-carrossel .textoCarrossel{
    margin-top: 5px;
    color: black;
}

.link-carrossel .imgCarrossel {
    width: 314px;
    height: 277px;
    object-fit: cover;
}
.carrossel {
    transition: transform 0.5s ease-in-out;
}

#botaoNext{
    color: white;
    width: 16.55px;
    height: 32px;
    transform: rotate(180deg);
    margin-left: 50px;
}

#botaoPrev{
    color: white;
    width: 16.55px;
    height: 32px;
    margin-right: 50px;
}

.backgroundContato{
    background-color: #F5F3ED;
    width: 1200px;
    height: 711px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.445);
    margin-top: 60px;
    margin-bottom: 150px;
}

#conjunto-contato{
    margin-top: 45px;
    margin-left: -25px;
}

.formato-contatos{
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-contato{
    width: 27px; 
    height: 27px; 
    margin-right: 10px;
}

#contato-texto{
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0;

    background-color: #8F542E;
    border-radius: 8px;
    width: 510px;
    height: 711px;

    flex-direction: column;
    float: left;
}

.contatoTexto{
    font-weight: 700;
    font-size: 18px;
    line-height: 24.51px;

    width: 224px;
    height: auto;
    margin-top: 15px;
    margin-left: 65px;

    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

#hr{
    width: 348px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;

    border-radius: 8px;
    height: 3px;
    background-color: #B2784A;
    border-color: #B2784A;
}

#logo-contato{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imagem-contato{
    width: 127px;
    height: 162.03px;
}

#texto-contato{
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.75px;

    margin-top: 10px;
}

h3{
    font-family: "Open Sans", sans-serif;
    color: #1F0C00;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    float: left;
}

.input-nome-email{
    width: 609px;
    height: 70px;
    border-color: #8F542E;
    border-radius: 8px;
    border-width: 1px;
}

#input-mensagem{
    width: 609px;
    height: 254px;
    border-color: #8F542E;
    border-radius: 8px;
    border-width: 1px;
}

#enviar-mensagem{
    width: 690px;
    height: 711px;

    display: flex;
    flex-direction: column;
}

.item-mensagem{
    width: 609px;
    height: auto;
}

#pos-button-mensagem{
    width: 609px;
    height: auto;

    padding-right: 609px;
}

footer{
    background-color: #57290B;
    width: 1440px;
    height: 75px;

    display: flex;
    justify-content: center;
    gap: 500px;
}

.textoFooter{
    font-family: "Open Sans" sans-serif;
    color: #FFDAB8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.navItensMobile{
    display: none;
}

.menuMobile{
    display: none;
}

.contatoMoblie{
    display: none;
}

#contato-mobile-fmt{
    display: none;
}

.ulCarrosselMobile{
    display: none;
}

@media screen and (max-width: 1020px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    main{
        width: 100%;
        height: 100%;
    }
    
    body{
        background-color: black;
    }
    
    nav{
        width: 100%;
        height: 64px;
        padding-right: 40px;
        padding-left: 20px;
    }
   
    .navItens{
        display: none;
    }
    
    .navImg{
        width: 55px;
        height: 61.9px;
    }
    
    .navImgTitle{
       width: 138px;
       height: 22px;
    }

    .navItensMobile{
        font-family: "Cormorant Garamond", sans-serif;
        justify-content: space-evenly;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navImgTitle{
        width: 138px;
        height: 22px;
        font-weight: lighter;
        margin-bottom: 0;
    }

    section h2{
        font-family: "Cormorant Garamond", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .backgroundHeader{
        margin-top: 64px;
        padding-top: 10px;

        height: 241.34px;
        width: 100%;
        max-width: 100%;
    }
    
    h1{
        font-size: 28px;
        width: 342px;
        height: 96px;
        margin-left: 28px;
    }
    
    #h2{
        display: none;
    }
    
    .button{
        width: 217px;
        height: 44px;
        font-weight: 800;
        font-size: 14px;

        padding-left: 10px;
    }   
    
    .buttonVC{
        width: 217px;
        height: 44px;
        font-weight: 800;
        font-size: 14px;

        margin-left: 30px;
        margin-top: 35px;

        padding-left: 10px;
    }

    .seta{
        width: 21.83px;
        height: 13px;
        margin-top: center;
        margin-bottom: -2px;
        margin-left: 15px;
    }

    #formato-sobre{
        /* background-color: antiquewhite; */
        width: 100%;
        margin-bottom: 100px;
    }
    
    #div-texto-sobre{
        /* background-color: brown; */
        margin-top: 1px;
        margin-left: 45px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    mark{
        margin-top: 55px;
        margin-bottom: 15px;
        margin-left: 45px;
        width: fit-content;
        height: 14px;
    }
    
    .textoSobre{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 339px;
        height: auto;
        font-weight: 400;
        font-size: 18px;
    }
    
    #img_cafes{
        display: none;
    }
    
    .ondaCafe{
        width: 100%;
        height: 118px;
        object-fit: cover;
        object-position: 30%; 
    }

    .cafeteria{
        width: 100%;
        height: 590.95px;
    }
    
    .formato-carrossel{
        width: 316.45px;
        margin: 0 auto;
    }
    
    .ul-carrossel{
        display: none;
    }
    
    .ulCarrosselMobile{
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .ulCarrosselMobile .carrossel{
        user-select: none;
        background-color: #F5F3ED;
        width: 217px;
        height: 287px;
        border-radius: 8px;
        padding: 1rem;
        margin-bottom: 32px;
        text-decoration: none;
    }
    
    .ulCarrosselMobile .link-carrossel .tituloCarrossel{
        font-family: "Open Sans", sans-serif;
        color: black;
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        line-height: 27px;
        text-transform: capitalize;
    }   
    
    .ulCarrosselMobile .link-carrossel .textoCarrossel{
        color: black;
        font-size: 13px;
        width: 197px;
        height: 55px;
    }
    
    .link-carrossel .imgCarrossel {
        align-items: center;
        width: 197.5px;
        height: 175.77px;
        border-radius: 8px;
        object-fit: cover;
    }
    #botaoNext{
        width: 13.45px;
        height: 26px;
    }
    
    #botaoPrev{
        width: 13.45px;
        height: 26px;
    }

    #contato-texto{
        display: none;
    }

    .backgroundContato{
        background-color: #F5F3ED;
        width: 341px;
        height: 542px;
        
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h3{
        width: 112px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
        padding-left: 30px;
    }
    
    .input-nome-email{
        width: 293px;
        height: 48px;
        margin-top: 45px;
        margin-left: -85px;
    }
    
    #input-mensagem{
        width: 293px;
        height: 160px;
        margin-top: 45px;
        margin-left: -85px;
    }
    
    #enviar-mensagem{
        width: 341px;
        height: 542px;
        padding-top: 20px;
    }
    
    .item-mensagem{
        width: 609px;
        height: auto;
    }
    
    #pos-button-mensagem{
        padding-top: 40px;
        padding-left: 30px;
    }

    #contato-mobile-fmt{
        width: 242px;
        height: 128px;
        display: flex;
        margin: auto;
        margin-bottom: 50px;
        justify-content: center;
    }

    #contato-mobile-texto{
        font-weight: 600;
        font-size: 16px;
        line-height: 42px; 

        margin-bottom: 20px;
        text-align: center;
    }

    .contatoMoblie{
        display: flex;
        flex-direction: row;
    }

    #contato-mobile-fmt{
        display: flex;
        
    }

    .iconContatoMobile{
        margin: 0 auto;
        width: 50px;
        height: 50px;
        filter: invert(33%) sepia(80%) saturate(414%) hue-rotate(330deg) brightness(69%) contrast(88%);
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-evenly;
    }

    footer{
        background-color: #57290B;
        width: 100%;
        height: 75px;
    
        display: block;
        justify-content: center;
        gap: 0px;

        padding-top: 15px;
        padding-left: 15px;
    }

}
